GOERLI_INFURA_URL=  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ETHERSCAN_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STAGING_QUICKNODE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#GAS REPORTER
DOLAR_GAS= USD
GAS_KEY= xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TOKEN = BNB
API_GAS = https://api.bscscan.com/api?module=proxy&action=eth_gasPrice
